.game-container {
  text-align: center;
  margin-top: 50px;
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #95959d;
  background-color: #16151b;
  margin: 0;
  padding: 0;
  zoom: 150%;
}

html {
  margin-top: -3%;
}

.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #25242c;
  border: 3px solid #000;
}

td {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

td:hover {
  cursor: pointer;
}

button {
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: transparent;
  color: #708ec0;
  border: 1px solid #708ec0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
}

#number-row button {
  margin-right: 3px;
}

#game-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 39%;
}

#difficulty-label,
#mistakes-label,
#time-label {
  font-size: 11px;
  font-weight: bold;
}

#difficulty-value,
#mistakes-value,
#time-value {
  font-size: 15px;
  font-weight: bold;
}

#end-screen {
  display: none;
  text-align: center;
  margin-top: 50px;
}

#end-screen h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

#end-screen p {
  font-size: 16px;
  margin-bottom: 20px;
}

#end-screen button {
  padding: 10px 20px;
  font-size: 16px;
}

.Menu {
  margin-top: 15%;
}

#menuSelectLabel {
  padding-bottom: 50%;
}

.box {
    -webkit-box-shadow: 0 0 10px #cecece;
            box-shadow: 0 0 10px #cecece;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
 }


/* Cell / Value Highlighting */
.cell {
  border: 1px solid #000;
}

.right-border {
  border-right: 3px solid #000;
}

.bottom-border {
  border-bottom: 3px solid #000;
}

.highlight-row {
  /* background-color: rgba(28, 27, 27, 0.7); */
  background-color: #16151b;
}

.highlight-col {
  /* background-color: rgba(28, 27, 27, 0.7); */
  background-color: #16151b;
}

.highlight-grid {
  /* background-color: rgba(28, 27, 27, 0.7); */
  background-color: #16151b;
}

.highlight-number {
  background-color: rgb(0, 0, 0);
}

.selected {
  background-color: #173b77;
}

.incorrect {
  background-color: #610f11;
}

.incorrect-input {
  background-color: #173b77;
  color: #d62d3f;
}

.user-inputted-value {
  color:#708ec0;
  font-weight: 750;
}

button:disabled {
  pointer-events: none;
  opacity: 0.4;
  border: 1px solid grey;
  color: grey;
}
